body
{
    background-image: url("../img/FondoLogin.jpg");
    background-size: cover;
    height: initial;
}

#contenedor
{
    background-color:  rgba(153, 153, 153, 0.72);
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

.btn
{
    margin-top: 10px;
    margin-bottom: 50px;
}

#logo
{
    margin: 0 auto;
}

#login
{
    margin-top: 20px;
}

#home
{
    background: url("../img/SEC0216-parking-feature-slide5_900px.jpg") no-repeat center center;
    background-size: cover;
    height: initial;
    margin-top: 40px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.44);
    
}

#banner
{
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.44);
}

textarea{
  border-radius: 5px;
  margin:5px;
  resize: none;
}
#header
{
    margin: 5px;
}
#title
{
    margin: 5px;
}

@media screen and (min-width: 700px){
    
    #TextTitle
    {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.47);
    }

    #HomeTitle
    {
        font-family: 'Libre Baskerville', serif;
        font-size: 60px;
        color: rgba(255, 214, 0, 0.7);
    }

     #HomeSubTitle
    {
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        color: rgba(255, 214, 0, 0.7);
        border-radius: 25%;
    }

     #hrHome
    {
        border-top-width: 2px;
        width: 40%;
        border-bottom-color: black;
        border-top-color: rgba(255, 214, 0, 0.7);
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}

@media screen and (max-width: 700px){
    #TextTitle
    {
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.47);
    }

    #HomeTitle
    {
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        color: rgba(255, 214, 0, 0.7); 
    }

    #HomeSubTitle
    {
        font-family: 'Libre Baskerville', serif;
        font-size: 15px;
        color: rgba(255, 214, 0, 0.7);
        border-radius: 25%;
    }

     #hrHome
    {
        border-top-width: 2px;
        width: 40%;
        border-bottom-color: black;
        border-top-color: rgba(255, 214, 0, 0.7);
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}

#postCont
{
    background-color: white;
    padding-top: 50px;
    padding-bottom:50px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.44);
    padding-bottom: 100px;
}

.hrCont
{
    border-top-width: 2px;
    width: 60%;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#ContactContainer
{
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.44);
    padding-bottom: 100px;
}

#AboutPage
{
    background-color: rgb(34, 34, 34);
    margin: 0px;
    color: white;
}

.SocialLi{
   display: inline;
   margin: 0 10px 0 0;
   padding: 15px 7px 2px 7px;
   border: 1px solid #ccc;
   text-decoration: none;
}
.SocialLi:hover{
   background-color: black;
   color: black;
}

